# Common requirements
# -----------------------
# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt
#
#   It's higly recomended to use it within a virtualenv.
#
# before install python dependencies, you need the ppa ubuntugis activated and some libraries installed on your os:
# python-setuptools, python-pip, python-dev, python-tk, python-gdal, python-software-properties

# dates and times
python-dateutil
arrow
pytz

# UI
pyttk

# REST API
requests>=2.9.1

# Excel
openpyxl
xlwt

# Geospatial
.\lib\numpy-1.11.1+mkl-cp27-cp27m-win_amd64.whl
#.\lib\GDAL-1.11.3-cp27-none-win_amd64.whl
.\lib\GDAL-2.0.3-cp27-cp27m-win_amd64.whl
OWSLib
dxfgrabber

# Isogeo
isogeo-pysdk

# Packaging
# .\lib\py2exe-0.6.10a1-cp27-none-win_amd64.whl
# pyinstaller

# -----------------------
# Detailed dependencies
# dxfgrabber==0.7.5
# et-xmlfile==1.0.1
# GDAL==1.11.3
# jdcal==1.2
# numpy==1.10.4
# openpyxl==2.3.3
# OWSLib==0.10.3
# pyproj==1.9.5.1
# python-dateutil==2.4.2
# pyttk==0.3.2
# pytz==2015.7
# requests==2.9.1
# six==1.10.0
# wheel==0.26.0
# xlwt==1.0.0
